<section id="fh5co-subscribe">
    <div class="container">

        <h3 class="animate-box"><label for="email">Subscribe to our newsletter</label></h3>
        <form action="#" method="post" class="animate-box">
            <i class="fh5co-icon icon-paper-plane"></i>
            <input type="email" class="form-control" placeholder="Enter your email" id="email" name="email">
            <input type="submit" value="Send" class="btn btn-primary">
        </form>

    </div>
</section>
<!-- END #fh5co-subscribe -->

<footer id="fh5co-footer">
    <div class="container">
        <div class="row row-bottom-padded-md">
            <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>Company</h3>
                    <ul class="fh5co-links">
                        <li><a routerLink="/destination">Destinations</a></li>
                        <li><a routerLink="/booking">Booking</a></li>
                        <li><a routerLink="/service">Our Services</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>Support</h3>
                    <ul class="fh5co-links">
                        <li><a href="#">24/7 Call Support</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>Contact Us</h3>
                    <p>
                        <a href="discover@travel.tn">discover@travel.tn</a> <br>
                        5070 West 21th Street, <br>
                        Suite 721 Hammem Sousse <br>
                        <a href="tel:+21673506506 ">+216 73 506 506</a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>Follow Us</h3>
                    <ul class="fh5co-social">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-google-plus"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                        <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        
    </div>
    
</footer>
