
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<script src="js/modernizr-2.6.2.min.js"></script>
	</head>

	<body>
	<!-- Loader -->
	<div class="fh5co-loader" style="display: none;"></div>
	<div id="fh5co-page">
		<div>
			<app-nav-bar></app-nav-bar>
		</div>
		<section id="fh5co-hero" class="no-js-fullheight" style="background-image: url(&quot;assets/img/dreamer3.jpg&quot;);" data-next="yes">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="fh5co-intro no-js-fullheight">
					<div class="fh5co-intro-text">
						<div class="fh5co-center-position">
							<h2 class="animate-box">Travel To Discover </h2>
							<h3 class="animate-box">Traveling allows you to become many different versions of yourself</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END #fh5co-hero -->

		<section id="fh5co-pricing">
			<div class="container">
				<div class="row row-bottom-padded-lg">
					<div class="col-md-6">
						<figure class="animate-box">
							<img src="assets/img/girl.jpg" alt="car" class="img-responsive">
						</figure>
					</div>
					<div class="form-request form-request-modern bg-gray-lighter novi-background col-lg-6 col-xxl-5 form-col ">
						<h2> Find Your Tour</h2>
						 <!-- RD Mailform-->
							<form class="rd-mailform form-fix" novalidate="novalidate">
								<div class="row row-20 row-fix">
								  <div class="col-sm-12">
									<label class="form-label-outside">From</label>
									<div class="form-wrap form-wrap-inline">
									  <select class="form-input select-filter select2-hidden-accessible" data-placeholder="All" data-minimum-results-for-search="Infinity" name="city" tabindex="-1" aria-hidden="true">
										<option value="1">Ariana</option>
										<option value="2">Béja</option>
										<option value="3">Ben Arous</option>
										<option value="3">Bizerte</option>
										<option value="3">Gabès</option>
										<option value="3">Gafsa</option>
										<option value="3">Jendouba</option>
										<option value="3">Kairouan</option>
										<option value="3">Kasserine</option>
										<option value="3">Kebili</option>
										<option value="3">Mahdia</option>
										<option value="3">Manouba</option>
										<option value="3">Mednine</option>
										<option value="3">Monastir</option>
										<option value="3">Sfax</option>
										<option value="3">Sousse</option>
										<option value="3">Seliana</option>
										<option value="3">Tataouine</option>
										<option value="3">Touzeur</option>
										<option value="3">Tunis</option>
										<option value="3">Zaghouane</option>

									  </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 496px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-city-ll-container"><span class="select2-selection__rendered" id="select2-city-ll-container" title="New York"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
									</div>
								  </div>
								  <div class="col-sm-12">
									<label class="form-label-outside">To</label>
									<div class="form-wrap form-wrap-inline">
									  <select class="form-input select-filter select2-hidden-accessible" data-placeholder="All" data-minimum-results-for-search="Infinity" name="city" tabindex="-1" aria-hidden="true">
										<option value="1">Ariana</option>
										<option value="2">Béja</option>
										<option value="3">Ben Arous</option>
										<option value="3">Bizerte</option>
										<option value="3">Gabès</option>
										<option value="3">Gafsa</option>
										<option value="3">Jendouba</option>
										<option value="3">Kairouan</option>
										<option value="3">Kasserine</option>
										<option value="3">Kebili</option>
										<option value="3">Mahdia</option>
										<option value="3">Manouba</option>
										<option value="3">Mednine</option>
										<option value="3">Monastir</option>
										<option value="3">Sfax</option>
										<option value="3">Sousse</option>
										<option value="3">Seliana</option>
										<option value="3">Tataouine</option>
										<option value="3">Touzeur</option>
										<option value="3">Tunis</option>
										<option value="3">Zaghouane</option>
									  </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 496px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-city-ti-container"><span class="select2-selection__rendered" id="select2-city-ti-container" title="Chicago"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
									</div>
								  </div>
								  <div class="col-sm-12 col-lg-6">
									<label class="form-label-outside">Depart Date</label>
									<div class="form-wrap form-wrap-validation">
									  <!-- Select -->
									  <input class="form-input" id="dateForm" name="date" type="text" data-time-picker="date" data-dtp="dtp_8IL5Y">
									  <label class="form-label rd-input-label" for="dateForm"></label>
									  <!--select.form-input.select-filter(data-placeholder="All", data-minimum-results-for-search="Infinity",  name='city')-->
									  <!--  option(value="1") Choose the date-->
									  <!--  option(value="2") Primary-->
									  <!--  option(value="3") Middle-->
									</div>
								  </div>
								  <div class="col-sm-12 col-lg-6">
									<label class="form-label-outside">Duration</label>
									<div class="form-wrap form-wrap-validation">
									  <!-- Select 2-->
									  <select class="form-input select-filter select2-hidden-accessible" data-placeholder="All" data-minimum-results-for-search="Infinity" name="city" tabindex="-1" aria-hidden="true">
										<option value="1">Any length</option>
										<option value="2">2 days</option>
										<option value="3">3 days</option>
										<option value="4">4 days</option>
									  </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 233px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-city-hh-container"><span class="select2-selection__rendered" id="select2-city-hh-container" title="Any length"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
									</div>
								  </div>
								  <div class="col-lg-6">
									<label class="form-label-outside">Adults</label>
									<div class="form-wrap form-wrap-modern">
									  <div class="stepper "><input class="form-input input-append stepper-input" id="form-element-stepper" type="number" min="0" max="300" value="2"><span class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
									</div>
								  </div>
								  <div class="col-lg-6">
									<label class="form-label-outside">Children</label>
									<div class="form-wrap form-wrap-modern">
									  <div class="stepper "><input class="form-input input-append stepper-input" id="form-element-stepper-1" type="number" min="0" max="300" value="0"><span class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
									</div>
								  </div>
								</div>
								<div class="form-wrap form-button">
								  <button class="f-button" type="submit" routerLink="/propositions">search</button>
								</div>
							  </form>
							</div>
						  </div>
						 
			</div>
		</section>
		
		<section id="fh5co-testimonials" class="boredr-top">
			<div class="container">
				<div class="row row-bottom-padded-sm">
					
				</div>
				<div class="row">

				</div>
			</div>
		</section>
		<!-- END #fh5co-testimonials -->

	</div>
	<!-- END #fh5co-page -->
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="js/main.js"></script>

	</body>
</html>

