<div>
	<section  id="fh5co-header">
		<div  class="container">
			<nav role="navigation">
				<ul class="pull-left left-menu">
					<li><a routerLink="/destination">Destinations</a></li>
					<li><a routerLink="/booking">Booking</a></li>
					<li><a routerLink="/service">Services</a></li>
				</ul>
				
				<h1 id="fh5co-logo"><a routerLink="">TuniTrip<span>.</span></a></h1>
				<div >
					<ul class="pull-right right-menu">
						<li><a routerLink="/login">Login</a></li>
						<li class="fh5co-cta-btn" ><a routerLink="/signUp">Sign up</a></li>
						<style>
							.pull-right {
								float: right !important;
							}
							#fh5co-header nav ul.right-menu li {
								margin-left: 30px;
							}
							#fh5co-header nav ul li {
								display: inline;
							}
						</style>
					</ul>
				</div>
			</nav>
			
		</div>
	</section>
</div>

